*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #0f0f0f;
  color: #ffffff;
  scroll-behavior: smooth;
}

:root {
  --primary: #111111;
  --accent: #f5b041;
  --text-light: #cccccc;
}